# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Distributed Storage Research @ HASLab
description: Distributed Storage Research done at the High-Assurance Software Laboratory (HASLab)
url: "http://dbr-haslab.github.io"
baseurl: ""

include:
  - .htaccess
  - _pages

sass:
  sass_dir: _sass

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# make pages for the _projects folder
collections:
  projects:
    output: true
    permalink: /projects/:path/
  past_projects:
    output: true
    permalink: /past_projects/:path/
  tools:
    output: true
    permalink: /tools/:path/




# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

sass:
    sass_dir: _sass
