---
title: "Distributed Storage Research"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
intro:
  - excerpt: 'Distributed Storage Research (DSR) team leverages its knowledge of storage, operating, and distributed systems to empower cloud computing, high-performance computing, and AI ecosystems. Our research aims to create efficient, scalable, resilient, and secure storage solutions to handle the rapid growth of digital information and the diverse requirements of various applications and infrastructures.<br><br><a href="/about" class="btn btn--inverse">About us</a>'
feature_row:
  - image_path: assets/images/home/research.png
    alt: "placeholder research topics"
    title: "Research Topics"
    url: "/research"
    excerpt: "Our research is directed towards building efficient, reliable, and secure storage systems."
    btn_label: "Explore topics"
    btn_class: "btn--inverse"
  - image_path: /assets/images/home/publications.png
    alt: "placeholder publications"
    title: "Publications"
    url: "/publications"
    excerpt: "Explore DSR groundbreaking publications in distributed storage research."
    btn_label: "Browse publications"
    btn_class: "btn--inverse"
  - image_path: /assets/images/home/projects.png
    alt: "placeholder projects"
    title: "Projects"
    excerpt: "DSR is involved in several research projects aimed at delivering novel storage solutions."
    url: "/projects"
    btn_label: "See projects"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<h1 class="home-section-title">Latest News</h1>


<div id="news" class="news-list">
  {% assign news = site.data.news | sort: "date" | reverse %}
  {% for item in news limit: 3 %}
    {% include news_item.html post=item %}
  {% endfor %}
</div>

<div class="news-more">
  <a href="{{ '/news/' | relative_url }}" class="btn btn--inverse">See all news</a>
</div>

{% include carousel.html height="50" unit="%" duration="7" number="1" %}

<br>
<hr>
<br>
<h1 class="home-section-title">Collaborations</h1>

<div class="collab-grid">
  {% for collab in site.data.collaborations %}
    <div><img src="{{ collab.logo }}" alt="{{ collab.name }}"></div>
  {% endfor %}
</div>
