// Carousel variables

$carousel-caption-width:            70% !default;
$carousel-caption-color:            $white !default;

// Captions
//
//

.carousel-caption {
    position: absolute;
    right: ((100% - $carousel-caption-width) / 2);
    bottom: 20px;
    left: ((100% - $carousel-caption-width) / 2);
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $carousel-caption-color;
    text-align: center;

    p {
        background-color:  rgba(0, 0, 0, 0.5);
    }
}
