.card_bottom_section {
  // word-wrap: break-word;
  text-align: right;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  font-size: 70%;
}

.card_bottom_section span {
  margin-right: 20px;
  font-weight: bold;
}

.card_bottom_section span i {
  font-size: 80%
}

.card-tool-text {
  margin: 1rem;
  margin-bottom: 0;
  font-size: 80%
}
