---
layout: default
---

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="domain">
    {% unless page.header.overlay_color or page.header.overlay_image %}
    <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}

    {{ content }}

    <!-- {% assign my_domain = site.domains | find:"domain_acr", page.domain %} -->

    <h2>SUMMARY</h2>

    <hr>

    <p>{{ page.summary }}</p>

    <h2>OBJECTIVES</h2>

    <hr>

    <p>Within this domain, our current areas of interest include:</p>

    <ul>
    {% for obj in page.goals %}
        <li><strong>{{ obj.name }}</strong>: {{obj.description}}</li>
    {% endfor %}
    </ul>

    <h2>SELECTED PUBLICATIONS</h2>
    <hr>
    <div class="selpubs">
      {% for hp in page.highlighted_pubs %}
        {% bibliography --query @*[key={{hp}}] %}
      {% endfor %}
    </div>
    Check the full list of publications <a href="/publications/{{page.domain_acr}}">here</a>.

    <h2>RESPONSIBLE FOR THE DOMAIN</h2>

    <hr>

    {% assign member = site.data.team_members | where:"id", page.contact  | first %}

    <div class="container-fluid rel icons team pt50 pb0">
        <div class="col-sm-12 text-center contIt rel shSec it5">
            <div class="item pb50">
                <div class="lineBox pb10">
                    <div class="img bgi lazyload" data-src="{{ site.url }}{{ site.baseurl }}/assets/images/teampic/{{ member.photo }}" style="background-image: url(&quot;{{ site.url }}{{ site.baseurl }}/assets/images/teampic/{{ member.photo }}&quot;);"></div>
                    <div class="cont sh" style="height: 118px;">
                        <div class="int">
                        <h5>{{ member.name }}</h5>
                        <p>{{ member.info }}</p>
                        <div class="social-links">
                            <a href="mailto:{{ member.email }}"><i class="fas fa-envelope"></i></a>
                            {% if member.git %} <a href="{{ member.git }}"><i class="fab fa-github"></i></a>{% endif %}
                            {% if member.ldin %} <a href="{{ member.ldin }}"><i class="fab fa-linkedin"></i></a>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>