---
layout: default
---

<div id="main" role="main">
  {% include sidebar.html %}
  <div class="publication">
    {% unless page.header.overlay_color or page.header.overlay_image %}
    <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}

    <!-- # Publications -->

    {% if page.domain %}
      {% bibliography --query @*[domains~={{page.domain}}] --group_by year --group_order descending %}
    {% else %}
      {% bibliography --group_by year --group_order descending %}
    {% endif %}


    {{ content }}
  </div>
</div>
